body {
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

.pantry__container {
  padding: 2.5px 5px;
  background-color: #336b83;
  border-radius: 10px;
}

.pantryItems__container {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

.pantryItem__container {
  display: block;
  background-color: #33bbb3;
  border-radius: 10px;
  margin: 5px auto;
  padding: 15px;
}

.searchInput {
  border-radius: 5px;
}
